@import "partials/reset";
@import "partials/mixins";


html {
  font-size: 18px;
}

body {
  background-image: url('/assets/bg.jpg');
  font-family: 'Lato', sans-serif;
  @include fastenate_font();
}

* {
  @include box-sizing(border-box);
}

$pad: 12px;
$small: 759px;
$medium-min: 760px;
$medium-max: 999px;
$large: 1000px;

.grid {
  @include clearfix();
  margin: auto;

  &:after {
    @include clearfix();
  }

  .row {
    @include clearfix();
    margin: auto;
  }
}

.box {
  
  .row &:last-of-type {
    margin-right: 0;

  }

  @media screen and (min-width: $medium-min) {

    .row:last-of-type & {
      margin-bottom: 0;
    }

  }

  margin: auto;
  width: 48%;
  background-color: white;
  padding: 15px;
  border: solid 5px white;

  &:hover {
    border: solid 5px #F38018;

    h2 {
      color: #A8301D;
    }
  }

  @media screen and (max-width: $small) {
    width: 100%;
    height: auto;
    margin-bottom: $pad;
  }

  @media screen and (min-width: $medium-min) {
    width: 320px;
    height: 400px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
  }

  .image {
    height: 248px;
    background-image: url('http://placepu.gs/400/200');
    background-size: cover;
    margin-bottom: 18px;

    @media screen and (min-width: $medium-min) {
      height: 170px;
    }
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    @include fastenate_font(1.4em, 400);
    margin-bottom: 12px;
    max-height: 2.5em;
    line-height: 1.2em;
    overflow: hidden;

    @media screen and (min-width: $medium-min) {
      font-size: 1.1em;
      line-height: 1.4em;
      max-height: 2.8em;
      margin-bottom: 0;
    }
  }

  span {
    @include fastenate_font(1em, 400, #6E6F72);
    display: inline-block;
    padding-right: 8px;

    &:nth-of-type(n+2):before {
      content: '•';
      padding-right: 8px;
    }

    @media screen and (min-width: $medium-min) {
      font-size: .8em;
    }

  }

  p {
    margin-top: 20px;

    @media screen and (min-width: $medium-min) {
      font-size: .8em;
    }
  }
}

.grid-pad {
  padding: $pad $pad 0;

  @media screen and (min-width: $medium-min) {
    padding: 40px;
  }
}

/*
  LAYOUT SPECIFIC JUNK
 */

header {
  background-color: white;
  text-transform: uppercase;

  .row {
    @include clearfix();
    width: 100%;
    height: 65px;

    .logo {
      float: left;
      background-image: url('/assets/logo.svg');
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: 8px 4px;

      @media screen and (min-width: $medium-min) {
        background-image: url('/assets/logo.svg'), url('/assets/header_bg.svg');
        margin: auto;
        float: none;
        background-position: center 4px, center center;
      }
    }

    .add-icon {
      @include fastenate_font(2em, 400, #A6301D);
      float: right;
      padding: 0 3px 2px;
      line-height: .7em;
      margin: 18px 18px 0;
      border: solid 1px #EF6C43;

      &:hover {
        color: white;
        background-color: #EB4220;
      }
    }
  }


  nav {
    background-color: #2C2C2E;
    font-family: 'Oswald', sans-serif;
    @include fastenate_font(1em, 400, #6E6F72);

    ul {
      text-align: center;
      li {
        display: inline-block;
        margin: auto;
        padding: 13px 0;
        border-right: solid 1px #6E6F72;
        width: 32%;

        @media screen and (min-width: $medium-min) {
          border-right: none;
          width: auto;

          &:nth-of-type(n+2):before {
            content: '•';
            padding: 0 8px 0 4px;
          }
        }

        &:last-of-type {
          border-right: none;
        }

      }
    }
  }
}

footer {
  @media screen and (min-width: $large) {
    height: 52px;
    background-color: #2C2C2E;
    text-align: center;
    padding: 12px 0;

    .facebook-icon {
      display: inline-block;
      background-image: url('/assets/facebook_grey.svg');
      background-size: 24px auto;
      height: 24px;
      width: 24px;
      background-repeat: no-repeat;
      margin-right: 12px;

      &:hover {
        background-image: url('/assets/facebook_orange.svg');
      }
    }

    .instagram-icon {
      display: inline-block;
      background-image: url('/assets/instagram_grey.svg');
      background-size: 24px auto;
      height: 24px;
      width: 24px;
      background-repeat: no-repeat;

      &:hover {
        background-image: url('/assets/instagram_orange.svg');
      }
    }
  }
}

a {
  text-decoration: none;
  color: #6E6F72;

  &:hover {
    color: #EB4220;
  }
}


